<h1>New Topic</h1>

<!-- <%= render "form.html", Map.put(assigns, :action, Routes.topic_path(@conn, :create)) %> -->

<%= form_for @changeset, Routes.topic_path(@conn, :create), fn f -> %>
    <div class="form-group">
        <%= text_input f, :title, placeholder: "Title", class: "form-control"  %>
        <%= error_tag f, :title %>
    </div>
<% end %>

<%= submit "Save Topic", class: "btn btn-primary" %>

<span><%= link "Back", to: Routes.topic_path(@conn, :index) %></span>
